<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<ul class="collection with-header">
    <li class="collection-header"><h4><a href='<%= categories_path %>' class="blue-text">Categories</a></h4></li>
    <% @categories.each do |category| %>
    	<a href="<%= category_path(category.id) %>" class="collection-item"><%= category.name %></a>
    <% end %>
</ul>
<% end %>