<h2 class="center blue-text">Book 1</h2>
<%= image_tag('covers/1.jpg', class:'materialboxed z-depth-2',width:'700') %>

<ul class="collection with-header z-depth-2">
        <li class="collection-header"><h5 class="blue-text center">Book Info</h5></li>
        <li class="collection-item">Category : Random</li>
        <li class="collection-item">Author : Random</li>
        <li class="collection-item">Publisher : Random</li>
        <li class="collection-item">Year : 2007</li>
        <li class="collection-item">ISBN : 123456</li>
        <li class="collection-item">Format : Paperback</li>
        <li class="collection-item">Pages : 200</li>
</ul>

<ul class="collapsible z-depth-2" data-collapsible="accordion">
    <li>
      <div class="collapsible-header blue-text"><i class="material-icons">info</i>Summary</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
</ul>
<div class="center">
<%= link_to "Buy this Book",'https://www.google.co.in/?gfe_rd=cr&ei=S7fVV5GMJ-XI8AeWtZ-YDQ&gws_rd=ssl' , class:'waves-effect waves-light btn red', target:'_blank' %>
</div>