<h3 class="blue-text">Categories</h3>
<% @categories.each_slice(3) do |category| %>
<div class="row">
  <% category.each do |category| %>
    <div class="col s12 m4">
    <div class="card hoverable z-depth-3">
      <div class="card-stacked">
        <div class="card-content">
        <h5><%= category.name %></h5>
        </div>
        <div class="card-action center">
          <a href="<%= category_path(category.id) %>">View</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
<% end %>
